modules = ["web"]
run = "index.html"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "index.html"]

[[ports]]
localPort = 70981
externalPort = 5173

[[ports]]
localPort = 709226
externalPort = 8081
